# EDA - HDB Resale Price for ELT

In [2]:
import json
import requests
import time
import pandas as pd

## Setup
1. Paste the dataset ID you copied into the cell below
2. Run All Cells (click `Runtime` -> `Run All`)

In [3]:
# Dataset ID for the EDS notebook
DATASET_ID = "d_8b84c4ee58e3cfc0ece0d773c8ca6abc" # e.g. "d_69b3380ad7e51aff3a7dcc84eba52b8a"

## Dataset and Column Metadata

In [4]:
# code supplied by data.gov.sg to download the dataset
s = requests.Session()
s.headers.update({'referer': 'https://colab.research.google.com'})
base_url = "https://api-production.data.gov.sg"
url = base_url + f"/v2/public/api/datasets/{DATASET_ID}/metadata"
print(url)
response = s.get(url)
data = response.json()['data']
columnMetadata = data.pop('columnMetadata', None)

print("Dataset Metadata:")
print(json.dumps(data, indent=2))

print("\nColumns:\n", list(columnMetadata['map'].values()))

https://api-production.data.gov.sg/v2/public/api/datasets/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/metadata
Dataset Metadata:
{
  "datasetId": "d_8b84c4ee58e3cfc0ece0d773c8ca6abc",
  "createdAt": "2021-07-28T10:37:00+08:00",
  "name": "Resale flat prices based on registration date from Jan-2017 onwards",
  "collectionIds": [
    "189"
  ],
  "description": "Notes:\n\n1. The approximate floor area includes any recess area purchased, space adding item under HDB\u2019s upgrading programmes, roof terrace, etc.\n\n2. The transactions exclude resale transactions that may not reflect the full market price such as resale between relatives and resale of part shares.\n\n3. Resale prices should be taken as indicative only as the resale prices agreed between buyers and sellers are dependent on many factors.",
  "format": "CSV",
  "lastUpdatedAt": "2025-07-09T02:09:52+08:00",
  "managedBy": "Housing & Development Board",
  "coverageStart": "2017-01-01T08:00:00+08:00",
  "coverageEnd": "2025-07-01T08:00:00+08:00",
  "contactEmails": [
    "lau_pei_wen@hdb.gov.sg"
  ],
  "datasetSize": 20820767
}

Columns:
 ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'remaining_lease', 'resale_price']

## Download File

In [5]:
# code supplied by data.gov.sg to download the dataset
# Function to download the dataset

def download_file(DATASET_ID):
  # initiate download
  initiate_download_response = s.get(
      f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/initiate-download",
      headers={"Content-Type":"application/json"},
      json={}
  )
  print(initiate_download_response.json()['data']['message'])

  # poll download
  MAX_POLLS = 5
  for i in range(MAX_POLLS):
    poll_download_response = s.get(
        f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/poll-download",
        headers={"Content-Type":"application/json"},
        json={}
    )
    print("Poll download response:", poll_download_response.json())
    if "url" in poll_download_response.json()['data']:
      print(poll_download_response.json()['data']['url'])
      DOWNLOAD_URL = poll_download_response.json()['data']['url']
      df = pd.read_csv(DOWNLOAD_URL)

      display(df.head())
      print("\nDataframe loaded!")
      return df
    if i == MAX_POLLS - 1:
      print(f"{i+1}/{MAX_POLLS}: No result found, possible error with dataset, please try again or let us know at https://go.gov.sg/datagov-supportform\n")
    else:
      print(f"{i+1}/{MAX_POLLS}: No result yet, continuing to poll\n")
    time.sleep(3)

df = download_file(DATASET_ID)

Download successfully initiated. Proceed to poll download
Poll download response: {'code': 0, 'data': {'status': 'DOWNLOAD_SUCCESS', 'url': 'https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/6f8109f7bce05c219b3825a999cc7f3a02cbc19fe536138a5eaf86bfe6d8711f.csv?AWSAccessKeyId=ASIAU7LWPY2WCYFR7MFZ&Expires=1752073358&Signature=pcKj9g4DigUfld8V%2BtgHvzy7qmM%3D&X-Amzn-Trace-Id=Root%3D1-686e767e-372250125ce582782954f9ed%3BParent%3D15ab46d8169a2e42%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEJ7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgcxarlsphKKnvTvMVyrqJQ7Ck%2F8TQIv4EBC62gu3t6EECIQDp%2FLGB6s8w3dX%2FmH70h5IZKMmKSt%2FJ6XhiNO63FHs5CSqzAwin%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMSklSVc%2FlLnLH3cWgKocDy4YW8Q%2FUuEzYha2trCOp%2FU6W9wrZYWj1kwAMFjl5SzIC%2BOgqrQO7Hkn7yVITzMAKsC1s1XmVKPvZ%2FZLaSHVRd1YLATJif1AZP5lfJ0n%2F5xCkPkCrMfxiCEpv1AXfvYsJ8VrnIukHZZyjIekUTe5XduBxxQ8ueXuGzeIGoXrnncgmdNUmoIQyGs1Y2plb%2FSr9idAELzEdkAj67nw76PXoXdhGQid9Apv%2FzycH%2BmZO8lzJg%2BkwHHOLCo%2B7eEexObkPDP1U9bl0pp67WCdf9KHAQvLIAJKW5VHy6KRFiQ2wtBVnWEmJf7CXGpRXSxgssDhcjWbrK8%2FrZ01%2Bccos7r9cj2TKhpNw%2BuTiC5EadfXCFjDUG0Rxs%2Bp4IqkUsdv9EqQ55aCNFX2F3uiftFsooqF9gXbRqKgKw0Er4tkdJghv6EW%2F0pdX8TYwXfOd2HMPLyUyATSYxfD%2FCQo37KGYoHHzjOJq0%2FNWFrXXwDUL1rQDLzI66zxDyXZi5p%2F2tizFPulrebnT1d5u%2FDCe57nDBjqdAcFJbul%2FJHEcjXidGwwvO82X6qkxyXTqbToKoGVFyaRxgqVl%2BiQyfecScS2xUQP2wN2OPtcbereqlvclQTjRQG2nZXcpPESfxUSGdqxKjPCYfzhM6G8MZeIPUUc9AInNH%2FxwwKy9%2FiA%2F6%2FdbBBQbq9LrljOJ87yINEhLP6KCmPRChePjyEsZhW9V2cV4BvS9aTYHD6tjOjKo3TKylnM%3D'}, 'errorMsg': ''}
https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/6f8109f7bce05c219b3825a999cc7f3a02cbc19fe536138a5eaf86bfe6d8711f.csv?AWSAccessKeyId=ASIAU7LWPY2WCYFR7MFZ&Expires=1752073358&Signature=pcKj9g4DigUfld8V%2BtgHvzy7qmM%3D&X-Amzn-Trace-Id=Root%3D1-686e767e-372250125ce582782954f9ed%3BParent%3D15ab46d8169a2e42%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEJ7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkcwRQIgcxarlsphKKnvTvMVyrqJQ7Ck%2F8TQIv4EBC62gu3t6EECIQDp%2FLGB6s8w3dX%2FmH70h5IZKMmKSt%2FJ6XhiNO63FHs5CSqzAwin%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMSklSVc%2FlLnLH3cWgKocDy4YW8Q%2FUuEzYha2trCOp%2FU6W9wrZYWj1kwAMFjl5SzIC%2BOgqrQO7Hkn7yVITzMAKsC1s1XmVKPvZ%2FZLaSHVRd1YLATJif1AZP5lfJ0n%2F5xCkPkCrMfxiCEpv1AXfvYsJ8VrnIukHZZyjIekUTe5XduBxxQ8ueXuGzeIGoXrnncgmdNUmoIQyGs1Y2plb%2FSr9idAELzEdkAj67nw76PXoXdhGQid9Apv%2FzycH%2BmZO8lzJg%2BkwHHOLCo%2B7eEexObkPDP1U9bl0pp67WCdf9KHAQvLIAJKW5VHy6KRFiQ2wtBVnWEmJf7CXGpRXSxgssDhcjWbrK8%2FrZ01%2Bccos7r9cj2TKhpNw%2BuTiC5EadfXCFjDUG0Rxs%2Bp4IqkUsdv9EqQ55aCNFX2F3uiftFsooqF9gXbRqKgKw0Er4tkdJghv6EW%2F0pdX8TYwXfOd2HMPLyUyATSYxfD%2FCQo37KGYoHHzjOJq0%2FNWFrXXwDUL1rQDLzI66zxDyXZi5p%2F2tizFPulrebnT1d5u%2FDCe57nDBjqdAcFJbul%2FJHEcjXidGwwvO82X6qkxyXTqbToKoGVFyaRxgqVl%2BiQyfecScS2xUQP2wN2OPtcbereqlvclQTjRQG2nZXcpPESfxUSGdqxKjPCYfzhM6G8MZeIPUUc9AInNH%2FxwwKy9%2FiA%2F6%2FdbBBQbq9LrljOJ87yINEhLP6KCmPRChePjyEsZhW9V2cV4BvS9aTYHD6tjOjKo3TKylnM%3D

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

Dataframe loaded!

In [6]:
df.describe()

       floor_area_sqm  lease_commence_date  resale_price
count   210885.000000        210885.000000  2.108850e+05
mean        96.860069          1996.340437  5.174307e+05
std         24.029508            14.243154  1.826842e+05
min         31.000000          1966.000000  1.400000e+05
25%         82.000000          1985.000000  3.800000e+05
50%         93.000000          1996.000000  4.850000e+05
75%        112.000000          2011.000000  6.200000e+05
max        366.700000          2022.000000  1.658888e+06

In [7]:
df.to_csv("./data/hdb_resale_price.csv", index=False)